<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    {{>header}}
    <h1>Welcome to the about page by {{name}} and my age is{{age}}</h1>
    {{>footer}}
</body>
</html>