<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
    
<body>

  {{>navbar}}

<!-- main header -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="main-content">
                <form class="temp_form"> 
                    <input type="text" id="cityName" placeholder="Enter Your City Name" autocomplete="off">
                    <input type="submit" value="search" id="submitBtn" class="y">
                </form>
            </div>
            <div class="tempInformation">
                <div class="top_layer">
                    <p id="day">Tuesday</p>
                    <p id="today_data">13 OCT</p>
                </div>

                <div class="main_layer">
                    <p id="city_name">Get Output Here</p>
                    <div class="middle_layer data_hide">
                        <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C</p>
                        <p id="temp_status"><i class="fa-solid fa-cloud"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}

<script src="js/main.js"></script>
<script>
    const getCurrentDay = () => {
    let weekDay = new Array(7);
        weekDay[0] = "SUN"
        weekDay[1] = "MON"
        weekDay[2] = "TUE"
        weekDay[3] = "WED"
        weekDay[4] = "THU"
        weekDay[5] = "FRI"
        weekDay[6] = "SAT"

        let currentTime = new Date();
        let days = weekDay[currentTime.getDay()]
        console.log(days)
        const day = document.getElementById('day')

        day.innerText = days;
    }

    const getCurrentDate = () => {
        const currentTime = new Date();
        
        const month = new Array(12);
        month[0] = JAN
        month[1] = FEB
        month[2] = MAR
        month[3] = APR
        month[4] = MAY
        month[5] = JUN
        month[6] = JUL
        month[7] = AUG
        month[8] = SEP
        month[9] = OCT
        month[10] = NOV
        month[11] = DEC 


        const date = document.getElementById('today_data')
        const dates = currentTime.getMonth()
        date.innerText = month[dates]
    }
    getCurrentDay();
</script>
</body>
</html>